<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Courses List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let course of courses; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveCourse(course, i)"
        >
          {{ course.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllCourses()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <app-course-details
        [viewMode]="true"
        [currentCourse]="currentCourse"
      ></app-course-details>
    </div>
  </div>
