<div *ngIf="viewMode; else editable">
    <div *ngIf="currentCourse.id">
      <h4>Course</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentCourse.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentCourse.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentCourse.published ? "Published" : "Pending" }}
      </div>
  
      <a class="badge badge-warning"
        routerLink="/courses/{{ currentCourse.id }}">
        Edit
      </a>
    </div>
  
    <div *ngIf="!currentCourse">
      <br />
      <p>Please click on a currentCourse...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentCourse.id" class="edit-form">
      <h4>Course</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentCourse.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentCourse.description"
            name="description"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentCourse.published ? "Published" : "Pending" }}
        </div>
      </form>
  
      <button class="badge badge-primary mr-2" *ngIf="currentCourse.published" (click)="updatePublished(false)">
        UnPublish
      </button>
      
      <button *ngIf="!currentCourse.published"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publish
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteCourse()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateCourse()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentCourse.id">
      <br />
      <p>Cannot access this Course...</p>
    </div>
  </ng-template>
